extends ../layout

block content
  div.container
    //- h6 게시글 작성
    div.palette.palette-alizarin
      p 오른쪽 예제 클릭하면 data-code를 본문 커서 위치 추가시킴
    div.row
      div.col-xs-7
        hr
        h6= board.name
        br
        form.form-horizontal(role='form', data-bind='submit: updatePost', data-board-id=board.id, data-post-id=post.id)
          .form-group
            .col-sm-offset-2.col-sm-10
              button.btn.btn-embossed.mrm.btn-wide.btn-default.btn-primary(type='submit') 전송
              a.btn.btn-embossed.mrm.btn-wide.btn-default(href='/boards/'+board.id+'/posts') 목록으로 돌아가기
              button.btn.btn-embossed.mrm.btn-wide.btn-inverse(type='button' data-bind='click: previewPost') 미리보기
          .form-group
            label.col-sm-2.control-label(for='input20') 제목
            .col-sm-10
              input#input20.form-control(type='text', placeholder='게시물 제목', value=post.subject)
          .form-group
            label.col-sm-2.control-label(for='input21') 본문
            .col-sm-10
              textarea#input21.form-control(rows=8, placeholder='5000자 이내 (너무 길면 사람들이 읽지 않아요!)')= post.body
          hr
          h6 배포 설정
          br
          .form-group
            label.col-sm-2.control-label(for='input23') 게시 예약일
            .col-sm-10
              input#input23.form-control(type='datetime', placeholder='0000-00-00 00:00:00', value=moment(post.publishAt).format('YYYY-MM-DD hh:mm:ss'))
              span.help-block 예약일이 이미 지났으면 글이 바로 보이게됩니다.
          .form-group
            label.col-sm-2.control-label(for='input22') 언어
            .col-sm-10
              span.help-block 요청한 언어의 게시물이 없을 경우 기본 언어의 게시물을 보여줍니다.
              select.select-block#input22
                each language in languages
                  if language == post.lang
                    option(value=language, selected)= language
                  else
                    option(value=language)= language
          
          hr
          h6 확인
          br
          dl.dl-horizontal
            dt 오탈자와 맞춤법 확인
            dd 누구나 실수하고, 누구나 고칠 수 있어요! 꼼꼼하게 확인해주세요.
            dt 인사말과 맺음말
            dd 다양한 연령대 사용자가 보게됩니다.
            dt 키워드 언급
            dd 더욱더 기억에 남는 공지를 위해 여러분의 앱이나 팀의 이름을 언급해주세요.
            dt 1달에 최소 한번
            dd 꾸준한 소식 전달은 앱이 발전하고 있다고 알리는 제일 쉬운 방법입니다.
          hr
          .form-group
            .col-sm-offset-2.col-sm-10
              button.btn.btn-embossed.mrm.btn-wide.btn-default.btn-primary(type='submit') 전송
              a.btn.btn-embossed.mrm.btn-wide.btn-default(href='/boards/'+board.id+'/posts') 목록으로 돌아가기
              button.btn.btn-embossed.mrm.btn-wide.btn-inverse(type='button' data-bind='click: previewPost') 미리보기

      div.col-xs-5
        hr
        h6 미리보기
        br
        div(style="text-align:center;")
          iframe.preview.iphone5(src=url)
          br 
          a(href=url) http://threesomeplace.com#{url}