extends ../layout
include ../platform-mixin

block content
  div.container
    div.row
      div.col-xs-9
        table.table.table-striped.table-hover
          thead
            tr
              //- th #
              th 식별자
              th 플랫폼
              th 앱
              th 메시지 이름
              th 변경일자
              th 
          tbody
            each message in messages
              tr(data-message-id=message.id)
                //- td
                td.cursor-zoom-in(data-toggle='previewMessage', data-url='http://'+locals.host+'/v1/users/'+locals.three.id+'/apps/'+message.appId+'/messages/'+message.identifier)
                  span.cursor-text #{message.identifier} 
                  i.ion-search(style='color: #ccc')
                td
                  +platform(message.appPlatform)
                td= message.appName
                td= message.name
                td #{moment(message.updatedAt).calendar()}
                td(width='140px')
                  div.btn-group
                    a.btn.btn-embossed.btn-sm.btn-primary(href='/messages/'+message.id) 수정
                    button.btn.btn-embossed.btn-sm.btn-default(data-message-id=message.id, data-bind='click: deleteMessage') 삭제
            td(colspan=7)
              p #{messages.length}개의 메시지

      div.col-xs-3
        button.btn.btn-primary.btn-block(data-bind='click: createMessage') 새로운 메시지 추가하기
        br
        hr
        h6 도움말
        a(href='/docs/message/overview') 메시지에 대해 알아보기
        br
        a(href='/docs/message/where-to-apply') 적용가능한 부분 판단하기

        //- p 1. 앱 첫 화면에 뜨는 메시지를 손쉽게 관리하세요. 점검중, 이벤트 알림, 업데이트 알림을 빠르게 처리할 수 있습니다.
        //- p 2. 메시지에 URL를 넣으면 바로 redirect됩니다. 앱에 있는 이미지나 미디어 리소스를 쉽게 바꾸세요.
        //- p 3. 모든 메시지는 다국어 지원이 가능합니다.
        //- p 4. 예약 변경, 롤백은 업데이트 예정입니다.
      //-       tbody
      //-         each message in messages
      //-           tr
      //-             td= message.id
      //-             td= message.appPlatform
      //-             td= message.appName
      //-             td= message.name
      //-             td #{moment(message.updatedAt).calendar()}
      //-             td(width='140px')
      //-               div.btn-group
      //-                 a.btn.btn-embossed.btn-sm.btn-default(href='/messages/'+message.id) 수정
      //-         td(colspan=6)
      //-           p #{messages.length}개의 메시지

      //- div.col-xs-3
      //-   button.btn.btn-primary.btn-block(data-bind='click: createMessage') 새로운 메시지 추가하기
      //-   br
  iframe#previewFrame.hide