extends ../layout

block content
  div.container
    div.row
      div.col-xs-6
        hr
        h6 앱 서비스 수정
        form.form-horizontal(role='form', data-bind='submit: updateApp', data-app-id=app.id)
          .form-group
            label.col-sm-2.control-label(for='input20') 이름
            .col-sm-10
              input#input20.form-control(type='text', placeholder='앱 이름', value=app.name)
          .form-group
            label.col-sm-2.control-label(for='input23') 플랫폼
            .col-sm-10
              select.select-block#input23
                option(value='') 기타
                each platform in ['iOS', 'Android', 'Web']
                  if platform == app.platform
                    option(value=platform, selected)= platform
                  else
                    option(value=platform)= platform
          .form-group
            label.col-sm-2.control-label(for='input21') 식별자
            .col-sm-10
              input#input21.form-control(type='text', placeholder='com.threesome.appname', value=app.identifier)
          .form-group
            label.col-sm-2.control-label(for='input22') 아이콘
            .col-sm-10
              p 
          .form-group
            .col-sm-offset-2.col-sm-10
              button.btn.btn-embossed.mrm.btn-wide.btn-default.btn-primary(type='submit') 전송
              a.btn.btn-embossed.mrm.btn-wide.btn-default(href='/apps') 목록으로 돌아가기

      div.col-xs-6
        hr
        h6 도움말
        a(href='/docs/apps/supporting-agreements') 지원하는 약관들
        br
        a(href='/docs/apps/supporting-platforms') 지원하는 플랫폼들